header {
    background: linear-gradient(to right, #4070f5, #051677);
    color: white;
    text-align: center; 
}

h1 {
    font-size: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}



form {
    border-bottom: solid grey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}



#searchBar {
    margin-bottom: 10px;
    
}

button {
    display: flex;
    margin: 0 auto;
    display: inline-block;
    width:300px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #4070f5, #051677);
    color: white
}

#buttonDiv {
    display: flex;
}

/* .section-two {
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto; /*scroll bars *//*
}*/


.five-day-div {
    border: solid 2px grey;
    background-color: #051677;
    color: white;
    padding: 10px 30px;
}

#five-day-container {
    display: flex;
    justify-content: space-around;
}

#day0 {
    border: solid 2px grey;
    margin-top: 10px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}